.text-transform-initial, .titulo-publicacion-relacionada {
	text-transform: initial;	
}

.sinCuenta, .titulo-publicacion-relacionada {    
	font-size: 14px!important;
}

.sinCuenta:hover {
	background-color: #FFF!important;
    border-color: #FFF!important;
}

.sinCuenta:focus{
	box-shadow: none!important;
}

.productoHover:hover {
	border-style: solid!important;
	border-width: 1px!important;
	border-color: var(--success)!important;
	cursor: pointer!important;
}

@media (max-width: 576px) {
	#listaCarrito, #dropdownMenuCarrito {
		padding-left: 0px!important;
	}
}

.centrarPaginador {
	display: grid!important;
}

.page-item.active .page-link {
	background-color: var(--success);
	border-color: var(--success);
}

.precio-publicacion-relacionada {
	font-size: 20px!important;
}

.carousel-inner img {
	width: 100%;
    height: 100%;
}

.carousel-indicators .active {
    background-color: var(--success)!important;
}

.glyphicon-star, .glyphicon-star-empty {
	color: var(--success)!important;
}

.custom-radio .custom-control-label::before {
	background-color: black!important;
}

.custom-control-input:checked ~ .custom-control-label::before {
    background-color: var(--success)!important;
}

input[type=checkbox]:checked + label {
	color: black;
	font-style: normal;
	font-weight: bold;
}